@import "assets/css/V3/_toast-new.scss";

@keyframes fadeOut {
  from { 
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.animated-element {
  animation: fadeOut 1s linear;
}
