.tvwclass {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-color: transparent;
}
.tvwcol {
  border: none;
  border-bottom: 1px solid #e6e7e9;
  padding: 10px 15px;
  vertical-align: middle;
  font-size: 0.875rem;
}
.tvwclass tbody .tvwrow:first-of-type .tvwcol {
  background: #e9ebec;
  font-weight: 700;
}
.filealertbox .MuiAlert-message {
  width: 85%;
  position: relative;
  overflow: visible;
}
.filealertbox .MuiAlert-message button {
  position: absolute;
  right: -30px;
  top: 5px;
  padding: 0;
  color: #421983;
  border: 1px solid #421983;
}

.h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  line-height: 23px;
  font-family: "Open Sans", sans-serif !important;
  margin-bottom: 16px !important;
}

.table-data-wrapper {
  margin-bottom: 42px;
}

.rights-summary-wrapper {
  tr {
    border-bottom-color: #eee;
  }

  th {
    text-align: start;
  }
}

.download-btn {
  width: 34px;
  height: 34px;
  background: var(--logo-color);
  padding: 6px 7px;
  border-radius: 50px;
  color: #fff;
  position: absolute;
  right: -26px;
  top: -27px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: #ca5454;
  }
}

.left-inner-sticky {
  z-index: 4;
}

.original-pdf-container {
  background: #fff;
}

.button-red {
  border: 1px solid var(--logo-color);
  background-color: var(--logo-color);
  color: #fff;
}

.msg-delete-btn {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  padding: 4px;
  margin-right: 6px;
}

.msg-delete-btn:hover {
  cursor: pointer;
}

.msg-delete-btn:active {
  background: #cf5353;
}

.btn-gray {
  background-color: #ccc;
  border: solid 1px #ccc;
}

.reply-box {
  border: solid 1px #cacaca;
  border-left: solid 2px #f26c6c;
}

.reply-msg-box-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.disable-body-scroll {
  overflow-y: hidden !important;
}

.fixed-comment {
  padding: 0;
}

.comment-form-sec {
  padding: 10px 0;
}

// .right-tab-content {
//   padding-right: 10px !important;
//   // padding-right: 0px !important;
// }

.comment-sec {
  // padding-bottom: 164px;
  padding-bottom: 94px;
}

.text-area {
  margin-bottom: 4px;
}

.button-red:active {
  background: #e45c5c;
}

table {
  margin: 4px auto;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
  text-align: left;

  &.compact {
    font-size: 0.8em;
    border-collapse: collapse;

    p {
      padding: 6px 12px;
    }
  }

  tr {
    td,
    th {
      border-top: 1px solid #e3e3e3;
      padding-left: 4px;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      &.number {
        text-align: right;
        width: 15%;
      }

      &.name {
        width: 27.5%;
      }
    }
  }

  &.files-table {
    border-top: none;
    border-bottom: none;
    margin: 0px auto;
    thead {
      tr.file-row {
        &:first-child {
          th,
          td {
            border-top: none;
          }
        }
      }
    }
    tbody {
      tr.file-row {
        &:last-child {
          th,
          td {
            border-bottom: none;
          }
        }
      }
    }
    tr.file-row {
      th,
      td {
        border-left: none;
        border-right: none;
      }

      &:hover {
        th,
        td {
          color: #000000;
          cursor: pointer;
          background-color: #f7f7f7;
        }
      }
    }
  }
}

.cml {
  margin-bottom: 12px;
  margin-left: 1px;
}

.comment-form-sec {
  textarea {
    margin-right: 0;
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  & .path {
    stroke: #ffffff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.PdfHighlighter {
  // overflow: hidden !important;
  padding-bottom: 31px;
  height: calc(100% - 38px) !important;
  overflow-x: auto;
  &::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
    width: 8px;
  }
  &:hover::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 24px;
  }
}
// .PdfHighlighter .pdfViewer {
//   // background: yellow;
// }
// //

.left-section-inner {
  .table-data-wrapper {
    table {
      display: block;
    }
    @media (max-width: 1660px) {
      width: 770px;
    }
    @media (max-width: 1366px) {
      width: 640px;
    }
    @media (max-width: 1200px) {
      width: 470px;
    }
    @media (max-width: 1050px) {
      width: 420px;
    }
    @media (max-width: 980px) {
      width: 315px;
    }
  }
}

.upload-icon {
  position: relative;
  padding-right: 20px !important;
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    background: url("assets/images/upload-icon.svg") no-repeat;
    width: 16px;
    height: 16px;
    background-size: cover;
    right: 0;
  }
}

.file-upload-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    padding-left: 180px;
    cursor: pointer;
  }
}
.link-disable {
  .file-upload-link input[type="file"] {
    cursor: not-allowed;
  }
}
.card-z-index {
  z-index: 9999 !important;
}
.raise-wrap {
  background: #f1f1f1;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  &:hover {
    .raised-help-sec {
      // display: block;
    }
  }
}
.raised-help-sec {
  //  display: none;
  padding: 12px;
  background: var(--white);
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  width: 300px;
  z-index: 2;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  p {
    margin-bottom: 0 !important;
  }
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    background: #fff;
    padding: 5px;
    right: 12px;
    transform: rotate(45deg);
  }
}
.raise-btn {
  width: 26px;
  height: 26px;
  display: block;
  mask-size: 26px 26px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-image: var(--icon-file);
  -webkit-mask-size: 26px 26px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-image: var(--icon-file);
  background-color: #7c828d;
  --icon-file: url("assets/images/hand.svg");

  &.raised {
    background-color: #444488;
  }
}

.prompt-comment-sec {
  padding-bottom: 140px;
}

.mr-2 {
  margin-right: 8px;
}

.status-loader {
  border-radius: 50%;
  border: solid 1px rgb(92 103 125);
  background: rgb(199 199 199);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.obligation-control-container {
  display: flex;
  gap: 4px;
}
