.ck-toolbar {
  .ck-rounded-corners {
    border-radius: 0 !important;
  }
  border:none !important;
  border-bottom: solid 1px #ccced1 !important; 
  padding: 0;
}

.ck-editor__editable {
  height: calc(100vh - 202px);
}

.ck-editor__editable_inline {
  padding: 40px 60px !important;
}
