// @import "pages/user-dashboard/components/file-option.styles";

@import "assets/css/V3/custom-font-size";

.folder-load-more {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}
