.alert-card-container {
  .alert-menu-card {
    display: block;
    height: auto;
    max-height: 70vh;
    overflow-y: auto;
  }
}

.max-w-200 {
  max-width: 200px;
}

.wizard-pagination > .wizard-step1.sign-later-timer {
  height: 24px;
  padding: 0px 12px;
}
