.shared-user-img{
  width: 26px;
  height: 26px;
  line-height: 26px;
  min-width: 26px;
  border-radius: 100%;
  background:#CD6E58;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:size(12);
  font-weight: 700;
  color: var(--white);
  img{
      width: 26px;
      height: 26px;
      object-fit: cover;
  }
}
